@mixin playing-icons
  color: red
  position: absolute
  left: 45%

html, .App
  background-color: black
.navbar
  position: sticky
  top: 0
  z-index: 1
  background-color: black
  display: flex
  justify-content: space-between
  padding: 5px 30px
  a.logo
    font-size: 3em
    text-decoration: none
    color: red
  .other-button
    border: none
    border-radius: 3px
    color: white
    padding: 5px 8px
  .otherItems
    transition: opacity 0.5s, visibility 0.5s
    display: flex
    flex-direction: column
    gap: 7px
    background-color: #444
    position: absolute
    top: 40px
    left: 10px
    width: max-content
    padding: 5px 10px
    border-radius: 3px
    a
      text-decoration: none
      color: white
      &:hover
        color: red
  .buttons-menu
    width: 270px
    display: flex
    justify-content: space-around
  .search-input
    padding: 5px 10px
    border-radius: 20px
    width: 350px
    &:focus
      outline: none
  .search-icon
    position: relative
    left: -30px
    color: tomato
.home-page
  display: flex
  .sidebar
    position: sticky
    top: 0
    height: max-content
    display: flex
    flex-direction: column
    min-width: 180px
    padding-left: 15px
    border-right: solid rgba(255,255,255, 0.5) 1px
    div
      margin-top: 25px
    div:last-child
      margin-bottom: 25px
    span
      font-size: 1.3em
      margin-right: 8px
      color: red
  .archive-box h3
    color: white
    span
      color: red
      text-transform: capitalize
  .archived-videos
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    width: 100%
    height: max-content
    .video-img
      position: relative
      cursor: pointer
      width: 35%
      opacity: 0.8
      .play-icon, .load-icon
        @include playing-icons
        top: 40%
      .play-icon
        font-size: 3em
      &:hover
        opacity: 1
      img
        width: 100%
        height: 100%
  .new-videos
    padding: 10px
    width: 100%
    display: flex
    flex-wrap: wrap
    gap: 20px
    justify-content: space-around
    .card
      position: relative
      overflow: hidden
      width: 30%
      height: 350px
      border-radius: 15px
      transition: 0.3s
      img
        border-radius: 15px 15px 0 0
        transition: 0.3s
      .play-icon
        @include playing-icons
        top: 25%
        font-size: 3em
      &:hover
        border-radius: 0
        img
          border-radius: 0
      .card-body
        background-color: #222
        color: white
        display: flex
        flex-direction: column
        justify-content: space-around
        .card-title
          font-size: 0.9em
        .card-text
          font-size: 0.7em
        .card-text a
          text-decoration: none
          color: salmon
.video-detail
  width: 100%
  display: flex
  justify-content: space-between
  .single-video-box
    padding-left: 40px
    padding-right: 20px
    width: 50vw
    display: flex
    flex-direction: column
    a
      text-decoration: none
      color: tomato
    .description .three-points
      cursor: pointer
      color: tomato
      margin-left: 5px
      letter-spacing: 3px
      position: relative
      .title-hover
        background-color: white
        border-radius: 5px
        padding: 0 5px
        font-size: 15px
        position: absolute
        left: 25px
        top: 15px
        display: none
        letter-spacing: 0
        width: max-content
      &:hover .title-hover
        display: inline-block
  .related-videos-box
    display: flex
    flex-direction: column
    align-items: center
    border-left: solid grey 1px
    width: 25vw
    height: 90vh
    overflow-y: scroll
    margin-right: 10px
    .related-video
      position: relative
      .load-icon, .play-icon
        @include playing-icons
        top: 35%
      .play-icon
        font-size: 3em
.reg-page
  height: 80vh
  display: flex
  justify-content: center
  align-items: center
  .reg-form-box
    width: max-content
    label
      color: white
      display: block
      margin-bottom: 6px
    input, textarea
      width: 30vw
      margin-bottom: 10px
      padding: 5px
    input.button
      display: block
      width: 100px
      margin: 10px auto 0
      background-color: red
      color: white
      border: none
      font-size: 1.2em
      border-radius: 2px
      font-weight: bold

@media screen and (max-width: 1300px)
  .home-page
    .new-videos
      .card
        .play-icon
          top: 20%
  .video-detail .related-videos-box
    width: 30vw
@media screen and (max-width: 1100px)
  .home-page
    .new-videos
      .card
        width: 45%
        .play-icon
          top: 25%
    .archived-videos
      .video-img
        width: 45%
  .video-detail
    flex-direction: column
    .single-video-box
      width: 100%
    .related-videos-box
      width: 98%
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-around
      .related-text
        width: 100%
@media screen and (max-width: 992px)
  .home-page
    .new-videos
      .card
        .play-icon
          top: 20%
  .reg-page .reg-form-box input, .reg-page .reg-form-box textarea
    width: 50vw
@media screen and (max-width: 900px)
  .navbar
    .buttons-menu
      width: 260px
  .video-detail .related-videos-box
    .related-video
      width: 40%
      img
        width: 100%
@media screen and (max-width: 778px)
  .navbar
    .search-input
      width: 220px
    .buttons-menu
      width: 250px
  .home-page
    flex-direction: column
    .sidebar
      position: static
      background-color: black
      flex-direction: row
      flex-wrap: wrap
      border-right: none
      div
        margin-right: 15px
        font-size: 0.9em
      span
        margin-right: 4px
@media screen and (max-width: 620px)
  .navbar
    .search-input
      width: 400px
    .buttons-menu
      width: 230px
  .home-page
    .new-videos .card
      width: 75%
      .play-icon
        top: 30%
    .archived-videos
      .video-img
        .play-icon, .load-icon
          top: 35%
  .video-detail .related-videos-box .related-video
    width: 70%
  .reg-page .reg-form-box input, .reg-page .reg-form-box textarea
    width: 70vw
@media screen and (max-width: 540px)
  .home-page
    .new-videos
      .card
        width: 80%
        .play-icon
          top: 25%
@media screen and (max-width: 480px)
  .navbar
    padding: 5px 15px
    .search-input
      width: 300px
      margin-top: 10px
    .buttons-menu
      width: 200px
  .home-page
    .new-videos
      .card
        width: 85%
        .play-icon
          top: 20%
@media screen and (max-width: 400px)
  .navbar
    .search-input
      width: 250px
