html, .App
  background-color: black
.navbar
  display: flex
  justify-content: space-between
  padding: 5px 30px
  a
    font-size: 3em
    text-decoration: none
    color: red
  .search-input
    padding: 5px 10px
    border-radius: 20px
    width: 300px
    &:focus
      outline: none
  .search-icon
    position: relative
    left: -30px
    color: tomato
.home-page
  display: flex
  .sidebar
    display: flex
    flex-direction: column
    min-width: 200px
    padding-left: 15px
    border-right: solid rgba(255,255,255, 0.5) 1px
    div
      margin-top: 30px
    div:last-child
      margin-bottom: 30px
    span
      font-size: 1.3em
      margin-right: 8px
      color: red
  .archive-box h3
    color: white
    span
      color: red
      text-transform: capitalize
  .archived-videos
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    width: 100%
    iframe
      width: 450px
      height: 270px
  .new-videos
    padding: 10px
    width: 100%
    display: flex
    flex-wrap: wrap
    gap: 20px
    justify-content: space-around
    .card
      width: 25%
      height: 300px
      .card-body
        background-color: #222
        color: white
        display: flex
        flex-direction: column
        justify-content: space-around
        .card-title
          font-size: 0.9em
        .card-text
          font-size: 0.7em
        .card-text a
          text-decoration: none
          color: salmon
.video-detail
  width: 100%
  display: flex
  .single-video-box
    padding-left: 40px
    width: 70%
    display: flex
    flex-direction: column
    a
      text-decoration: none
      color: tomato
  .description
    height: 200px
    overflow: scroll
  .related-videos-box
    border-left: solid grey 1px
    width: 30%



